
@using DataLayer
@{

    ViewBag.Title = "Index";
}


<div class="mainBlock minheight500">
    <div class="mainBlockTop">
        <div class="mainBlockTopLeft">Registered Users</div>

        <div class="top_btn_area">
            @*<a id="addToTable1" class="btn btnRed " href="@Url.Action("ExporttoExcel", "UserMaster")"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Export To Excel</a>*@
        </div>

    </div>

    @{Html.RenderAction("Grid");}
</div>
