
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Event nx</title>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="https://www.eventnx.com/eventscript/eventproloader.js"></script>
</head>
<body>
    <div style="text-align:center"> 
        <text>Redirecting to the Event Website...</text>
        <img src="~/Images/loader_gif.gif/>
    </div>
</body>
</html>
