
@{
    Layout = null;
}


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Event Nx - Events &amp; Exhibition Register</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/CustomEventAsset/css/plugins.css">
    <link rel="stylesheet" href="~/CustomEventAsset/css/style.css">
    <script src='https://www.eventnx.com/eventscript/jquery-1.12.0.min.js'></script>
    <script src='https://www.eventnx.com/eventscript/eventproloader.js'></script>

    <meta property="og:title" content="Connecting the dots with Apache Spark">
    <meta property="og:description" content="In this talk you’ll learn about the tools we use, the challenges we encountered, an open-source library we wrote to work through them, and how you can avoid the detours we took along the way.">
    <meta property="og:image" content="https://www.eventnx.com/images/linkdin_banner.jpg"/>

</head>
<body style="background:none">
    <div class="container">
        <div class="header" style="height: 80px;"><a href="#"><img src="~/CustomEventAsset/images/eventnx_logo.png" alt=""  style="height: 50px;"/></a></div>
        <div class="banner_area">
            <div class="row">
                <div class="col-lg-5">
                    <h1>The Best Webinars / Digital Event Registration Tool</h1>
                    <p>Boost Registration and Attendance using Smart attendee to attendee referral Marketing.</p>
                </div>
                <div class="col-lg-7">
                    <div class="img_banner">
                    <img src="../images/banner_event.png" style="width:100%;" alt="" />
                        </div>
                    </div>
            </div>
        </div>
    </div>
        <!--<div class="row">
            <div style="margin-bottom:20px;">
                <img src="../images/eventbanner.jpg" style="width:100%;"/>
            </div>
            </div>-->
	    <div class="zoommetting">
            <div class="container">
            <h3>Our Integrations</h3>
				<div class="zoomappbox">
				<a href="#"><img src="../images/icon_zoom.png" alt="" /></a><a href="#"><img src="../images/icon_bigmarker.png" alt="" /></a>
				</div>
            </div>				
		    </div>
           <div class="container">
            <div class="row">
                <div class="col-lg-5 order-lg-2">
                    <div class="socialbox">
                        <div class="date_event">
                        17<sup style="top:-40px; font-size:30px;">th</sup> NOV 2020
                        </div>
                        <h3 class="text-center">Register</h3>
                        <p class="text-center">Please select one of the below methods to register</p>
                        
                        <div class="socialbuttons" style="text-align:center">
                            @*<a class="btnlinkdinbig btnsocial"><span class="socialiconbox"><svg class="" width="25" height="25" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M477 625v991h-330v-991h330zm21-306q1 73-50.5 122t-135.5 49h-2q-82 0-132-49t-50-122q0-74 51.5-122.5t134.5-48.5 133 48.5 51 122.5zm1166 729v568h-329v-530q0-105-40.5-164.5t-126.5-59.5q-63 0-105.5 34.5t-63.5 85.5q-11 30-11 81v553h-329q2-399 2-647t-1-296l-1-48h329v144h-2q20-32 41-56t56.5-52 87-43.5 114.5-15.5q171 0 275 113.5t104 332.5z"></path></svg></span><span class="socialtext">Continue</span></a>*@
                           
							<div class='linkedinlogin' id='linkedinlogin_471de453-a0ab-4721-af75-6dffe9025331'></div><div id='divallowpost'>
                            <div class="or_area" style="color:#0078b5; font-size:22px; font-weight:bold">OR</div>
                        <div class="btn_balck_area">
                            <a href="#">Register Without Social</a>
                            </div>
                            <div class="slect_box">
                            <table border="0" style="border-collapse: collapse;" width="100%">
                                <tr>
                                <td width="26"><input type='checkbox' id='AllowPost' checked='checked' /></td>
                                    <td>Let my social network know that I am attending the event. This gives us permission to post to your profile about your attendance. It also allows other registered visitors to see that you are registered to attend.</td>
                                </tr>
                                </table></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-7 order-lg-1">
                    <div class="speakers_area">
                    <h2>The speakers</h2>
                        <div class="box_spear_area">
                        <div class="box_speaker">
                            <div><img src="../images/img_person1.jpg" alt="" /></div>
                            <h4>Speaker's Name
                            <span>Company Name</span></h4>
                            </div>
                            <div class="box_speaker">
                            <div><img src="../images/img_person2.jpg" alt="" /></div>
                            <h4>Speaker's Name
                            <span>Company Name</span></h4>
                            </div>
                            <div class="box_speaker">
                            <div><img src="../images/img_person3.jpg" alt="" /></div>
                            <h4>Speaker's Name
                            <span>Company Name</span></h4>
                            </div>
                            <div class="box_speaker">
                            <div><img src="../images/img_person4.jpg" alt="" /></div>
                            <h4>Speaker's Name
                            <span>Company Name</span></h4>
                            </div>
                            <div class="box_speaker">
                            <div><img src="../images/img_person5.jpg" alt="" /></div>
                            <h4>Speaker's Name
                            <span>Company Name</span></h4>
                            </div>
                        </div>
                        
                     <!--<p style="text-align:left;">Date: July 31th 2020  |  Time: 02PM IST</p>-->
            <div class="section-title">
                @* <h1 style="text-align:left; font-size:35px;">Checkout How EventNX Works.</h1> *@
               <!--<h3 style="text-align:left; margin:25px 0px 15px; max-width:500px;">It's super easy to integrate social login and start getting attendees through referrals.</h3>-->

                <!-- <p style="line-height:23px; text-align:left;">
                       In this talk you’ll learn about the tools we use, the challenges we encountered, an open-source library we wrote to work through them, and how you can avoid the detours we took along the way. Data science work often begins in an interactive notebook environment, exploring data and testing out different modeling approaches. However, moving towards a production environment means building reproducible workflows, packaging libraries, setting up scheduling and monitoring of jobs, and figuring out ways to serve results to clients in real time.
                     </p>
<p style="line-height:23px; text-align:left;">
Whether you’re just getting started using Spark in productions systems or you already have Spark running in production and want to smooth the process, this talk will leave you better equipped to find and connect the tools that suit your needs.
</p>-->
                    </div>                     
            </div>
                </div>
                
            </div>
               <div class="sponsore_area">
               <h4>Sponsored by</h4>
               <ul>
                   <li><a href="#"><img src="../images/logo_thetacttree_inner.png" alt="" /></a></li>
                   <li><a href="#"><img src="../images/logo_data_360_inner.png" alt="" /></a></li>
                   </ul>
               </div>
               
            @* <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p>
                        Conveniently customize your event registration process on your event website with simple embeddable code and get insightful real-time reports of attendee acquisition. Attendees can use their social credentials to register for your event. Once registered, attendees will get a personalized sharing URL to post on their social profiles and also to invite their peers – making them promoters of your event. Event Attendees can also see who all are attending the same event. Organizers can see reports regarding referral marketing activities carried out by attendees.
                        An awesome way to build trust and attract more attendees.
                    </p>

                </div>
            </div> *@
        </div> 
    <div class="footer_area"></div>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="~/CustomEventAsset/js/plugins.js"></script>
<script src="~/CustomEventAsset/js/custom.js"></script>