
@using DataLayer
@{
                ViewBag.Title = "Index";
}

<div class="mainBlock minheight500">
   
    <div class="mainBlockTop">
        <div class="mainBlockTopLeft">Zoom Report</div>
        <div class="top_btn_area">

        </div>
    </div>

    @{Html.RenderAction("Grid");}
</div>
