@model  LoginModel
@using LinkedInDemo.Models
@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Event Management</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/global.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/design.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

        <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    </head>

    <body>
        <section class="login_bg">
            <div class="mainBlock">
                <span><img src="/Content/images/logo_eventnx.jpg" class="img-fluid image" alt="logo"></span>
                <div class="login_form">
                    <div>
                        <div style="padding-bottom:5px;"><h5 class="text-center">Your account has been activated !</h5></div>
                    </div>
                    <div class="form-group">
                        <div class="set_tow_btn" style="text-align:center">
                            <a class="btn_pinkcolor" href="@Url.Action("Login", "Account")">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>
}